<!DOCTYPE html>
<html lang="ch-de">
<!--
  _______                            __         
 /_  __(_)___ ___  ____  ____   ____/ /__ _   __
  / / / / __ `__ \/ __ \/ __ \ / __  / _ \ | / /
 / / / / / / / / / /_/ / / / // /_/ /  __/ |/ / 
/_/ /_/_/ /_/ /_/\____/_/ /_(_)__,_/\___/|___/  


Visit https://www.timondev.com
-->
<head>
    <%- include("./snippets/head.ejs", {
        title,
        description,
        origin,
        url,
        CONFIG
    }) %>
    <link rel="stylesheet" href="/css/admin.css">
    <script type="text/javascript" src="/js/admin.js" defer></script>
</head>
<body><% let phone = CONFIG.PHONE;
    if (phone.length === 10) {
        phone = phone.replace(/(\d{3})(\d{3})(\d{2})(\d{2})/, '$1 $2 $3 $4');
    } else if (phone.length === 12) {
        phone = phone.replace(/(\d{2})(\d{2})(\d{3})(\d{2})(\d{2})/, '$1 $2 $3 $4 $5');
    } %>
    <%- include("./snippets/header.ejs", {
        CONFIG,
        phone,
        origin
    }) %>
    <main>
        <h1 class="section-title">Willkommen</h1>
        <section>
            
            <p class="admin-info-text">
                Hier hast du die volle Kontrolle über die Verwaltung der Inhalte. 
                Du kannst Daten bearbeiten, aktualisieren oder löschen, um die Seite stets auf dem neuesten Stand zu halten. 
                Ausserdem hast du Zugriff auf alle Kommentare, die von Nutzern hinterlassen werden. 
                Du kannst diese einsehen und unpassende oder unangebrachte Beiträge entfernen, 
                um eine angenehme und respektvolle Atmosphäre zu wahren.
            </p>
        </section>
        <h1 class="section-title">Informationen bearbeiten</h1>
        <section>
            <h3 class="admin-change-title">E-Mail-Adresse (Versenden)</h3>
            <div class="admin-change-wrapper">
                <sl-input class="admin-change-input" id="change-email" placeholder="<%= CONFIG.EMAIL %>"></sl-input>
                <sl-button class="admin-change-submit" id="submit-email">Aktualisieren</sl-button>
            </div>
        </section>
        <section>
            <h3 class="admin-change-title">E-Mail-Adresse (Empfangen)</h3>
            <div class="admin-change-wrapper">
                <sl-input class="admin-change-input" id="change-email-personal" placeholder="<%= CONFIG.EMAIL_PERSONAL %>"></sl-input>
                <sl-button class="admin-change-submit" id="submit-email-personal">Aktualisieren</sl-button>
            </div>
        </section>
        <section>
            <h3 class="admin-change-title">Telefonnummer</h3>
            <div class="admin-change-wrapper">
                <sl-input class="admin-change-input" id="change-phone" placeholder="<%= CONFIG.PHONE %>"></sl-input>
                <sl-button class="admin-change-submit" id="submit-phone">Aktualisieren</sl-button>
            </div>
        </section>
        <section>
            <h3 class="admin-change-title">Instagram Link</h3>
            <div class="admin-change-wrapper">
                <sl-input class="admin-change-input" id="change-links-instagram" placeholder="<%= CONFIG.LINKS.INSTAGRAM %>"></sl-input>
                <sl-button class="admin-change-submit" id="submit-links-instagram">Aktualisieren</sl-button>
            </div>
        </section>
        <section>
            <h3 class="admin-change-title">Facebook Link</h3>
            <div class="admin-change-wrapper">
                <sl-input class="admin-change-input" id="change-links-facebook" placeholder="<%= CONFIG.LINKS.FACEBOOK %>"></sl-input>
                <sl-button class="admin-change-submit" id="submit-links-facebook">Aktualisieren</sl-button>
            </div>
        </section>
        <section>
            <h3 class="admin-change-title">WhatsApp Link</h3>
            <div class="admin-change-wrapper">
                <sl-input class="admin-change-input" id="change-links-whatsapp" placeholder="<%= CONFIG.LINKS.WHATSAPP %>"></sl-input>
                <sl-button class="admin-change-submit" id="submit-links-whatsapp">Aktualisieren</sl-button>
            </div>
        </section>
        <section>
            <h3 class="admin-change-title">Passwort</h3>
            <div class="admin-change-wrapper">
                <sl-input class="admin-change-input" id="change-password" placeholder="************"></sl-input>
                <sl-button class="admin-change-submit-password" id="submit-password">Aktualisieren</sl-button>
            </div>
        </section>
        <h1 class="section-title">Kommentare</h1>
        <section class="table-container">
            <table>
                <tbody>
                    <tr>
                        <th>E-Mail</th>
                        <th>Name</th>
                        <th>Kommentar</th>
                        <th>Bewertung</th>
                        <th>Löschen</th>
                    </tr><% 
                    comments.forEach(comment => { %>
                    <tr id="comment-id-<%= comment.id %>">
                        <td id="comment-email-id-<%= comment.id %>"><%= comment.email %></td>
                        <td id="comment-name-id-<%= comment.id %>"><%= comment.name + " " + comment.family_name %></td>
                        <td id="comment-review-id-<%= comment.id %>"><%= comment.review %></td>
                        <td id="comment-rating-id-<%= comment.id %>"><%= comment.rating %>/5</td>
                        <td>
                            <sl-button class="comment-delete-btn" id="comment-delete-id-<%= comment.id %>" data-comment-id="<%= comment.id %>" variant="danger">Löschen</sl-button>
                        </td>
                    </tr><%
                    }) %>
                </tbody>
            </table>
        </section>
    </main>
    <%- include("./snippets/footer.ejs", {
        CONFIG,
        phone
    }) %>
</body>
</html>