<meta charset="utf-8">
    <title><%= title %> | <%= CONFIG.NAME %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="<%= title %> | <%= CONFIG.NAME %>">
    <meta property="og:url" content="<%= origin + url %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= CONFIG.LOGO_SHARE_PATH %>">
    <meta property="og:image:type" content="<%= CONFIG.LOGO_SHARE_MIMETYPE %>">
    <link rel="icon" type="<%= CONFIG.LOGO_MIMETYPE %>" href="<%= CONFIG.LOGO_PATH %>">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/fonts.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/light.min.css">
    <script type="importmap">
        {
            "imports": {
                "timonjs": "https://cdn.jsdelivr.net/npm/timonjs@2.0.5/dist/timon.module.min.mjs",
                "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.min.js",
                "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three/examples/jsm/",
                "gsap": "https://cdn.skypack.dev/gsap"
            }
        }
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/timonjs@2.0.5/dist/timon.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
    <script type="text/javascript" src="/js/main.js" defer></script>
    <script type="text/javascript" src="/js/cookieConsent.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            window.dataLayer.push(arguments);
        }
    
        gtag("js", new Date());
        gtag("config", "G-YS590ZYYMQ");
        gtag("consent", "default", {
            ad_storage: "denied",
            analytics_storage: "denied",
            personalization_storage: "denied",
            functionality_storage: "granted",
            security_storage: "granted",
        });
    
        document.addEventListener("cookie_consent_updated", () => {
            gtag("consent", "update", JSON.parse(localStorage.getItem("cookie_consent_mode")));
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=id=G-YS590ZYYMQ"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/icon/icon.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/alert/alert.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/input/input.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/rating/rating.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/button/button.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/textarea/textarea.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/carousel/carousel.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/carousel-item/carousel-item.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/components/image-comparer/image-comparer.js" data-shoelace="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/dist"></script>