<meta charset="utf-8">
    <title><%= title %> | <%= CONFIG.NAME %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="<%= title %> | <%= CONFIG.NAME %>">
    <meta property="og:url" content="<%= origin + url %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= CONFIG.LOGO_SHARE_PATH %>">
    <meta property="og:image:type" content="<%= CONFIG.LOGO_SHARE_MIMETYPE %>">
    <link rel="icon" type="<%= CONFIG.LOGO_MIMETYPE %>" href="<%= CONFIG.LOGO_PATH %>">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/fonts.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/timonjs@latest/lib/timon.js"></script>
    <script type="text/javascript" src="/js/main.js" defer></script>